<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!--第二步,连接数据库  -->
<configuration>

   <settings>
   <!-- 		java属性名picturePath = 数据库列名PICTURE_PATH  -->
  <setting name="mapUnderscoreToCamelCase" value="true"/>
  
   </settings>
   
   <typeAliases>
      <package name="Books.entity"/>
   </typeAliases>
</configuration>
