<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Books.dao.mybatis.mapper.bookMapper">
	<select id="findAll" resultType="Book">
	<![CDATA[
	select id,bookName,author,press,year,synopsis,category,picturePath from (
	select (rownum - 1) i ,b2.* from(
	 select b.* from books b order by id) 
	 b2)
	 b3 where i >= #{offset} and i < #{limit}
	 ]]>
	</select>
	
	<insert id="add">
	insert into books(id,bookname,author,press,year,synopsis,category)
	values(books_seq.nextval,#{bookname},#{author},#{press},#{year},#{synopsis},#{category})
	</insert>
	
	<select id="findOne" resultType="Book">
		select * from books where id = #{id}
	</select>

	<update id="editUpdate">
		update books set bookname= #{bookname},author= #{author},
		press= #{press},year= #{year},synopsis= #{synopsis},
		category= #{category},picturePath= #{picturePath}
		where id = #{id}
	</update>

	<delete id="delete">
		delete from books where id = #{id}
	</delete>

	<select id="count" resultType="int">
		select count(*) from books
	</select>
	
	<delete id="batchDelete">
	    delete from books where id in 
	    <foreach collection="idList" item="id" separator="," open="(" close=")">
	              ${id}
	    </foreach>
	</delete>
	
	<select id="search" resultType="Book"> 
	      select * from books 
	      <where>
	         <if test="bookname!=null">
	      <bind name="booknamePattern" value=" '%' + bookname + '%' "/>
             bookname like #{booknamePattern}	         
	         </if>
	         <if test="author!=null"> 
	       <bind name="authorPattern" value=" '%' + author + '%' "/>
	         or author like #{authorPattern}
	         </if>
	      </where>
	</select>
</mapper>